<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
</head>
<body>
    <!-- Pagination links -->
    <div class="container">
        <ul class="pagination">
            <!-- First and Previous Buttons -->
            {% if current_page > 1 %}
                <li class="page-item"><a class="page-link" href="{{ url_for('dashboard', page=1) }}">First</a></li>
                <li class="page-item"><a class="page-link" href="{{ url_for('dashboard', page=current_page-1) }}">Previous</a></li>
            {% endif %}
        
            <!-- Show the first two pages -->
            <li class="page-item"><a class="page-link" href="{{ url_for('dashboard', page=1) }}">1</a></li>
            <li class="page-item"><a class="page-link" href="{{ url_for('dashboard', page=2) }}">2</a></li>
        
            <!-- Show ellipsis if current page is greater than 10 -->
            {% if current_page > 10 %}
                <li class="page-item disabled"><span class="page-link">...</span></li>
            {% endif %}
        
            <!-- Show pages around the current page -->
            {% for num in range(3, total_pages + 1) %}
                {% if num == current_page %}
                    <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                {% elif num > 2 and num < current_page - 1 %}
                    <!-- Skip pages less than 3 -->
                    {% if num == 3 %}
                        <li class="page-item disabled"><span class="page-link">...</span></li>
                    {% endif %}
                {% elif num >= current_page - 1 and num <= current_page + 1 %}
                    <li class="page-item"><a class="page-link" href="{{ url_for('dashboard', page=num) }}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}
        
            <!-- Show ellipsis if there are more pages after the current page -->
            {% if current_page < total_pages - 1 %}
                <li class="page-item disabled"><span class="page-link">...</span></li>
                <li class="page-item"><a class="page-link" href="{{ url_for('dashboard', page=total_pages) }}">{{ total_pages }}</a></li>
            {% endif %}
        
            <!-- Next and Last Buttons -->
            {% if current_page < total_pages %}
                <li class="page-item"><a class="page-link" href="{{ url_for('dashboard', page=current_page+1) }}">Next</a></li>
                <li class="page-item"><a class="page-link" href="{{ url_for('dashboard', page=total_pages) }}">Last</a></li>
            {% endif %}
        </ul>                
    </div>
</body>
</html>
